/*текстовые стили*/
body {
	font-size: 14px;
	line-height: 21px; /* междустрочный */
	color: #333333; /* черный цвет шрифта */
	font-weight: normal; /*!!! а стоит писать normal? * жирность шрифта */
	font-family: "PT Sans", "Myriad Pro", sans-serif; /* гарнитура шрифта, название */
}
h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PT sans", "Myriad Pro", sans-serif;
} 
.container {
	width: 1200px;
	margin: 0 auto;
	outline: 1px dotted red;
}
.navigation {
	height: 56px; 
	background-color: green; 
}
.nav_item {
	display: inline; /*элементы навигации в одной строке */
}

.welcome_content {
	height: 508px;
	background-image: url("../img/welcome.jpg"); 
	background-size: 1200px 508px;
	outline: 1px solid blue;
}
.promo_content {
	height: 211px; /*всего 216*/
	padding-top: 5px; /*иначе блок отталкивается из-за текста в теге <p> =( */
	background-color: yellow;
}
.info_photo_content {
	height: 256px;
	outline: 1px solid blue;
}

.info_photo_text {
	width: 400px;
	height: 256px;
}
.info_photo_img {
	width: 800px;
	height: 256px;
}
.text_left,
.img_left {
	float: left;
	background-color: grey;
}
.text_right,
.img_right {
	float: right;
}
/*распорка*/
.info_photo_content::after { 
	content: "";
	display: table;
	clear: both;
}
.blocks1_content {
	height: 326px; /*всего высота 331*/
	padding-top: 5px; /*иначе блок отталкивается из-за текста в теге <p> =( */
}

.blocks2_content {
	height: 251px; /*256*/
	outline: 2px solid brown;
	padding-top: 5px; /*иначе блок отталкивается из-за текста в теге <p> =( */
}
.offer_content {
	height: 286px; /*291*/
	padding-top: 5px; /*иначе блок отталкивается из-за текста в теге <p> =( */
	outline: 1px solid pink;
}
.map {
	height: 473px;
}
.footer_links {
	height: 115px; /*120*/
	padding-top: 5px; /*иначе блок отталкивается из-за текста в теге <p> =( */
	background-color: green;
} 
.filters {
	height: 217px;
	background-image: url("../img/filter_background.jpg") ; /*фон*/
	background-size: 1200px 217px;
}
.filters1 {
	height: 212px; /*217*/
	width: 241px;
	padding-top: 5px; /* временно*/
	outline: 1px solid pink;
	float: left;
	margin-left: 73px;
}
.filters2 {
	height: 212px; /*217*/
	width: 274px;
	padding-top: 5px; /*ыременно*/
	outline: 1px solid pink;
	float: left;
	margin-left: 14px;
}
.price_filter {
	height: 212px; /*217*/
	width: 328px;
	padding-top: 5px; /*временно*/
	outline: 1px solid pink;
	float: right;
	margin-right: 73px;
}
.filters::after { /*распорка*/
	content: "";
	display: table;
	clear: both;
}
.sort {
	height: 82px; /*87*/
	background-color: gray;
	padding-top: 5px; /*иначе блок отталкивается из-за текста в теге <p> =( */
}
.result {
	height: 151px;
	outline: 1px solid brown;
}
.result_capture {
	width: 135px;
	height: 90px; /*151*/
	padding-top: 30px;
	
	float: left;
	margin-left: 73px;
}
.result_info {
	width: 258px;
	height: 90px;
	margin-left: 30px;
	margin-top: 30px;
	float: left;
	outline: 1px solid green;

}
.result_rating_stars {
	width: 111px;
	height: 90px;
	float: right;
	margin-right: 73px;
	margin-top: 30px;
	outline: 1px solid green;
}
.result::after { /*распорка*/
	content: "";
	display: table;
	clear: both;
}
