body {
	margin:0px;
	font-size: 14px;
	line-height: 21px; 
	color: #333333; 
	font-weight: normal; 
	font-family: "PT Sans", "Arial", sans-serif; 
	background-color: #f2f2f2;

}
h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PT sans", "Arial", sans-serif;
	color: #000000;
} 
p,
h1,
h2,
ul,
li {
	margin: 0;
	padding: 0;
}
input {
	outline: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	    								box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2);
	background-color: white;
}
.navigation {
	position: relative;
	min-height: 56px; 
	margin-left: 72px; /* по ТЗ 6% отступ */
	margin-right: 72px; /* по ТЗ 6% отступ */
	background-color: white;

}
.nav_items {
	margin: 0px;
	padding: 0px;
	list-style: none; 
}
.nav_item {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif; 
	width: 240px;
	min-height: 56px; 
	float: left; 
	text-align: left;
	padding-top: 14px;
	padding-bottom: 14px;
	box-sizing: border-box;
}
.nav_item:nth-child(3),
.nav_item:nth-child(4) {
	float: right;
	text-align: right;
}
.nav_item:nth-child(4) {
	letter-spacing: 0.5px;
}
.nav_item a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #000000;
}
.nav_item a:hover {
	color: #81b3d2;
}
.nav_item a:active {
	color: black;
	opacity: 0.3;
}
.nav_act a {
	color: #766357;
}
.nav_act a:hover {
	color: #604e43;
}
.nav_act a:active {
	color: #766357;
	opacity: 0.3;
}

.nav_items::after { 
	content: "";
	display: table;
	clear: both;
}
.nav_logo_sedona {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -69px;
	z-index: 10;
}
.welcome_content {
	position: relative;
	min-height: 508px;
	background-image: url("../img/welcome.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% -56px ;
	background-color: white;
}



.welcome_mask {
	position: absolute;
	bottom: 0px;
	width: auto;
}
.promo_content {
	min-height: 216px;
	padding-top: 59px;
	margin-left: 72px; /* по ТЗ 6% отступ */
	margin-right: 72px; /* по ТЗ 6% отступ */
	text-align: center;
	box-sizing: border-box;
	background-color: white;
}
.promo_text {
	font-size: 14px;
	line-height: 26px;
	color: color: #333333;
	font-family: "PT Sans", "Arial", sans-serif;
	margin-top: 27px;
}
.info_photo_content {
	min-height: 256px;
	box-sizing: border-box;
}
.info_photo_text {
	width: 400px;
	min-height: 256px;
	color: #ffffff;
	font-weight: normal;
	padding-top: 53px;
	text-align: center;
	background-color: #81b3d2;
	box-sizing: border-box;
}
.info_photo_title {
	font-size: 21px;
	color: #ffffff; 
	font-weight: bold;
	padding-left: 124px;
	padding-right: 125px;
}
.info_photo_text1 {
	padding-top: 24px;
	position: relative;
}

.info_photo_text1::before {
	content: "";
	position: absolute;
	display: block;
	bottom: 9px;
	left: 50%;
	margin-left: -25px;
	width: 9px;
	border-bottom: 2px solid #fff;
}
.info_photo_text1::after {
	content: "";
	position: absolute;
	display: block;
	bottom: 9px;
	right: 50%;
	margin-right: -25px;
	width: 9px;
	border-bottom: 2px solid #fff;
}
.info_photo_text2 {
	padding-top: 21px;
	padding-left: 47px;
	padding-right: 47px;
}

.info_photo_img {
	width: 800px;
	min-height: 256px;
}
.info_photo_img img {
	display: block;
	max-width: 100%;
}
.text_left,
.img_left {
	float: left;
	
}
.text_right,
.img_right {
	float: right;
}
.info_photo_content::after { 
	content: "";
	display: table;
	clear: both;
}
.blocks1_content {
	min-height: 331px; 
	text-align: center;
	box-sizing: border-box;
	background-color: white;
}
.blocks1_item {
	position: relative;
	padding-top: 160px;
	width: 400px;
	float: left;
}
.large_icon::before {
	content: "";
	position: absolute;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	top: 60px;
	left: 162px;
}
.icon_home::before {
	width: 75px;
	height: 72px;
	background-position: -163px -5px;
}
.icon_food::before {
	width: 74px;
	height: 70px;
	background-position: -5px -5px;
}
.icon_gift::before {
	width: 64px;
	height: 76px;
	background-position: -89px -5px;
	margin-left: 7px;
	margin-top: -5px;
}
.blocks1_title {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}
.blocks1_text {
	padding-top: 24px;
	padding-left: 50px;
	padding-right: 50px;
}
.blocks1_content::after { 
	content: "";
	display: table;
	clear: both;
}
.blocks2_content {
	min-height: 256px; /*256*/
	text-align: center;
	background-color: #eeeeee;
	padding-top: 45px;
	box-sizing: border-box;
}
.blocks2_item {
	width: 400px;
	float: left;
}
.blocks2_title {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	padding-left: 120px;
	padding-right: 120px;
}
.blocks2_text1 {
	padding-top: 24px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
}
.blocks2_text1::before {
	content: "";
	position: absolute;
	display: block;
	bottom: 9px;
	left: 50%;
	margin-left: -25px;
	width: 9px;
	border-bottom: 2px solid #333333;
}
.blocks2_text1::after {
	content: "";
	position: absolute;
	display: block;
	bottom: 9px;
	right: 50%;
	margin-right: -25px;
	width: 9px;
	border-bottom: 2px solid #333333;
}
.blocks2_text2 {
	padding-top: 20px;
	padding-left: 65px;
	padding-right: 65px;
}
.blocks2_content::after { 
	content: "";
	display: table;
	clear: both;
}
.offer_content {
	position: relative;
	margin-left: 72px;
	margin-right: 72px;
	min-height: 290px; 
	text-align: center;
	padding-top: 52px;
	box-sizing: border-box;
	background-color: white;
}
.offer_title {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}
.offer_text {
	font-size: 14px;
	line-height: 24px;
	padding-top: 25px;
}

.search_title {
	display: inline-block;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: middle;
	background-color: #766357;
	text-align: center;
	min-width: 568px;
	margin-top: 49px;
	padding: 30px 0;
}

.map_content {
	position: relative;
	height: 473px;
}
.map_content img {
	display: block;
}

input,
select {
	vertical-align: middle;
}
.calendar_form {
	width: 568px;
	min-height: 397px;
	position: absolute;
	z-index: 50;
	left: 50%;
	top: 2169px;
	margin-left: -284px;
	box-sizing: border-box;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
	text-align: left;
	font-weight: bold;
	font-size: 0;
}

.field_index {
	background-color: #ffffff;
	padding: 56px 55px;
	min-height: 395px;
	box-sizing: border-box;
}
.check_field {
	margin-bottom: 29px;
}
.calendar_form label {
	display: inline-block;
	width: 112px;
	font-size: 14px;
	vertical-align: middle;
	line-height: 26px;
	color: #000000;
}
.date_field,
.plus_minus_btn {
	display: inline-block;
	position: relative;
	width: 346px;
}
.calendar_form input[type="text"] {
	width: 100%;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	color: #000000;
	text-transform: uppercase;
	padding: 0 40px 0 14px;
	box-sizing: border-box;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}
.date_field input[type="text"]:hover {
	background-color: #ebebeb;
}
.date_field input[type="text"]:active {
	background-color: #ffffff;
}
.date_btn {
	width: 21px;
	height: 22px;
	background: url(../img/calendar_sprite.png) no-repeat;
	background-position: -5px -5px;
	position: absolute;
	top: 50%;
	right: 9px;
	margin-top: -12px;
	font-size: 0;
	cursor: pointer;
}
.date_btn:hover {
	background: url(../img/calendar_sprite.png) no-repeat;
	background-position: -67px -5px;
}
.date_btn:active {
	background: url(../img/calendar_sprite.png) no-repeat;
	background-position: -36px -5px;
}
.amount_adult,
.amount_children {
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 55px;
}
.amount_adult {
	width: 233px;
	margin-right: 45px;
}
.plus_minus_btn {
	width: 114px;
}
.minus_btn {
	width: 12px;
	height: 3px;
	background: url(../img/minus_sprite.png) no-repeat;
	background-position: -5px -5px;
	position: absolute;
	top: 28px;
	left: 14px;
	margin-top: -10px;
	font-size: 0;
}
.minus_btn:hover {
	background: url(../img/minus_sprite.png) no-repeat;
	background-position: -49px -5px;
}
.minus_btn:active {
	background: url(../img/minus_sprite.png) no-repeat;
	background-position: -27px -5px;
}
.calendar_form input[id="id_adult"],
.calendar_form input[id="id_children"] {
	width: 100%;
	padding: 0 40px;
	text-align: center;
	box-sizing: border-box;
}
.plus_btn {
	width: 11px;
	height: 11px;
	background: url(../img/plus_sprite.png) no-repeat;
	background-position: -5px -5px;
	position: absolute;
	top: 24px;
	right: 13px;
	margin-top: -10px;
	font-size: 0;
}
.plus_btn:hover {
	background: url(../img/plus_sprite.png) no-repeat;
	background-position: -47px -5px;
}
.plus_btn:active {
	background: url(../img/plus_sprite.png) no-repeat;
	background-position: -26px -5px;
}
.amount_children label {
	width: 65px; 
}
.search_btn {
	width: 100%;
	height: 58px;
	font-size: 21px;
	line-height: 26px;
	border: none;
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
}
.search_btn:hover {
	background-color: #669ec0;
}
.search_btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.footer_links {
	position: relative;
	min-height: 120px; 
	background-color: rgba(255,255,255, 0.9);
	display: block;
	box-sizing: border-box;
}
.visit_sedona_link,
.social_links,
.logo_by_htmlacademy {
	display: inline-block;
	width: 400px;
	float: left;
	text-align: center;
	vertical-align: middle;
}
.footer_links::after { 
	content: "";
	display: table;
	clear: both;
}
.visit_sedona_link {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 45px;
}
.visit_sedona_link a {
	text-decoration: none;
	color: black;
}


.social_links a{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	margin-top: 36px;
	background-color: #81b3d2;
	background-image: url(../img/social_sprite.png);
	background-repeat: no-repeat;
}
.social_twitter {
	background-position: 3px -38px;
}
.social_facebook {
	background-position: 6px 1px;
	margin-left: 3px;
	margin-right: 3px;
}
.social_youtube {
	background-position: -67px 4px;
	
}
.social_links a:hover {
	background-color: #669ec0;
}
.social_twitter:active {
	background-position: -38px -38px;
	background-color: #5496bd;

}
.social_facebook:active {
	background-position: -28px 1px;
	background-color: #5496bd;
}
.social_youtube:active {
	background-position: -81px -36px;
	background-color: #5496bd;
}

.logo_by_htmlacademy {
	margin-top: 37px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 0px;

}
.website_by {
	margin-top: 2px;
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	vertical-align: middle;
}
.logo_htmlacademy{
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;

	margin-top: 4px;
	width: 113px;
    height: 39px;

	background-image: url(../img/logo_ha.png);
    background-repeat: no-repeat;
    background-position: -261px -7px;
    
}
.logo_htmlacademy:hover {
	background-position: -134px -7px;
}
.logo_htmlacademy:active {
	background-position: -7px -7px;

}

.filters {
	min-height: 217px;
	background-image: url("../img/filter_background.jpg") ; /*фон*/
	background-size: 1200px 217px;
	color: white;
}
.filter_index {
	margin-left: 72px;
	margin-right: 72px;
}
.filter_title {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	padding-top: 25px;
}
.filters1 {
	min-height: 217px; /*217*/
	width: 241px;
	float: left;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;	
	padding-left: 39px;
	position: relative;
	cursor: pointer;
}
input[type="checkbox"] + label::before {
	content: "";
	display: block;
	width: 26px;
	height: 22px;
	margin-left: 0px;
	background: url(../img/no_checked.png) no-repeat;
	position: absolute;
	top:0px;
	left:-1px;
}
input[type="checkbox"]:checked + label::before {
	content: "";
	position: absolute;
	top: 0px;
	left: -1px;
	background: url(../img/checked.png);
	width: 26px;
	height: 22px;
}
.filters2 {
	min-height: 217px; 
	width: 274px;
	float: left;
	margin-left: 14px;
}
.price_filter {
	min-height: 217px;
	width: 328px;
	float: right;
	box-sizing: border-box;
}
.filter_title {
	margin-bottom: 12px;
	font-size: 16px;
}
.price_from_to {
	position: relative;
	width: 314px;
	margin-left: 10px;
	font-size: 0;
	border: 2px solid #fff;
	border-radius: 3px;
}
.price_from_to::before {
	content: "";
	display: block;
	height: 22px;
	width: 2px;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 155px;
	margin-top: -12px;
	margin-left: 1px;
}
.min_price,
.max_price {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding-top: 5px;
	padding-right: 14px;
	padding-bottom: 5px;
	padding-left: 17px;
	width: 40%;
	border: none;
	background: transparent;
	text-align: center;
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #fff;
}
.slider_price {
	position: relative;
	margin-left: 19px;
	height: 25px;
}
.scale {
	margin-top: 20px;
	height: 2px;
	background: rgba(255,255,255,.3);
}
.bar {
	width: 79%;
	height: 2px;
	background: #fff;
}
.toggle {
	position: absolute;
	top: -9px;
	left: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}
.max_toggle {
	left: 79%;
}
.toggle:hover {
	background: #1d4a75;
}
.result_filters {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px;
	padding-bottom: 5px;
	width: 136px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	background: transparent;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #ffffff;
}

.filters_form::after { 
	content: "";
	display: table;
	clear: both;
}
.sort_block {
	border-bottom: 1px solid #e5e5e5;
	min-height: 87px; /*87*/
	box-sizing: border-box;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 29px;
	
}
.sort {
	float: left;
	box-sizing: border-box;    
}
.sort_block::after { /*распорка*/
	content: "";
	display: table;
	clear: both;
}
.sort_text {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	line-height: #000000;
	display: inline-block;
	margin-right: 45px;
}
.sort_title {
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	margin-right: 34px;
}
.sorts {
	display: inline-block;
}
.sorts li {
	list-style: none;
	display: inline-block;
}
.sorts a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	margin-right: 30px;
	color: rgba(0,0,0, 0.3);
}
a.sort_item1 {
	border-bottom: none;
	color: #81b3d2;
}
a.sort_item2:hover,
a.sort_item3:hover {
	color: #81b3d2;
}
a.sort_item2:active,
a.sort_item3:active {
	color: #000000;
	border-bottom: none;
}
.sort_ascend_descend {
	float: right;
	width: 37px;
	text-align: right;
	font-size: 0px;
	margin-top: 9px;
	min-height: 9px;
}
a.sort_ascend,
a.sort_descend {
	display: inline-block;
	text-decoration: none;
	width: 11px;
	height: 9px;
}
.sort_ascend {
	margin-right: 12px;
	background: url(../img/arrow.png) no-repeat;
	background-position: -68px -5px;
}
.sort_ascend:hover {
	background: url(../img/arrow.png) no-repeat;
	background-position: -110px -5px;
}
.sort_ascend:active {
	background: url(../img/arrow.png) no-repeat;
	background-position: -89px -5px;

}
.sort_descend {
	margin-right: 1px;
	background: url(../img/arrow.png) no-repeat;
	background-position: -26px -5px;
}
.result {
	min-height: 151px;
	box-sizing: border-box;
	padding-left: 72px;
	padding-right: 72px;
	border-bottom: 1px solid #e5e5e5;
}
.result_capture {
	width: 135px;
	min-height: 90px; /*151*/
	padding-top: 30px;
	float: left;
}
.result_info {
	width: 258px;
	min-height: 95px;
	margin-left: 30px;
	margin-top: 25px;
	float: left;
}
.result_texts {
	margin-top: 6px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: 265px;
	font-size: 0;
}
.result_text1 {
	width: 116px; /* vrode*/
	display: inline-block;
	font-size: 14px;
}
.result_text2 {
	width: 142px; /*vrode*/
	display: inline-block;
	font-size: 14px;
}
.result_options {
	font-size: 0px;
}

.result_option1 {
	width: 110px;
	background-color: #81b3d2;
	margin-right: 6px; /*!!!*/
}
.result_option2 {
	width: 142px;
	background-color: #766357;
}
.res_btn {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 27px;
	text-align: center;
	color: #ffffff;
	box-sizing: border-box;
	padding-top: 2px;
}
a.res_btn,
a.result_url {
	text-decoration: none;
}
a.result_url {
	color: black;
}
a.result_option1:hover {
	background-color: #669ec0;

}
a.result_option1:active {
	background-color: #5496bd;
	color: #88b6d1;
}
a.result_option2:hover {
	background-color: #604e43;
}
a.result_option2:active {
	background-color: #503e33;
	color: #81746d;
}
a.result_url:hover {
	color: #81b3d2;
}
a.result_url:active {
	color: #cacaca;
}
.result_rating_stars {
	font-size: 0px;
	min-width: 111px;
	min-height: 90px;
	float: right;
	margin-top: 29px;
	text-align: right;
	padding-top: 0px;
}
.result_stars {
	display: inline-block;
}
.result_rating_stars>span {
	font-size: 0;
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: 7px;
	background: url(../img/star.png) no-repeat;
}
.result_rate_text {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #666666;
	margin-top: 36px;
	background-color: #f2f2f2;
	padding-top: 2px;
	padding-bottom: 3px
}
.result::after { 
	content: "";
	display: table;
	clear: both;
}
